menu "Kweker"

    config GPIO_LED
        int "LED GPIO number"
        range 0 33
        default 2
        help
            GPIO number (GPIO_NUM_xx) to control LED (1:on).

    config GPIO_AM2301
        int "AM2301 GPIO number"
        range 0 33
        default 4
        help
            GPIO number (GPIO_NUM_xx) to AM2301 sensor.

    config GPIO_LIGHT
        int "Light GPIO number"
        range 0 33
        default 33
        help
            GPIO number (GPIO_NUM_xx) to light SSR.

    config GPIO_EXHAUST
        int "Exhaust fan GPIO number"
        range 0 33
        default 25
        help
            GPIO number (GPIO_NUM_xx) to exhaust fan SSR.

    config GPIO_RECIRC
        int "Recirculation fan GPIO number"
        range 0 33
        default 26
        help
            GPIO number (GPIO_NUM_xx) to recirculation fan SSR.

    config GPIO_HEATER
        int "Heater GPIO number"
        range 0 33
        default 27
        help
            GPIO number (GPIO_NUM_xx) to heater SSR.

    config SPI_HOST_DS3234
        int "DS3234 SPI host"
        range 0 2
        default 1
        help
            DS3234 SPI host.

    config GPIO_DS3234_MISO
        int "DS3234 SPI MISO GPIO number"
        range 0 33
        default 12
        help
            GPIO number (GPIO_NUM_xx) to DS3234 SPI MISO.

    config GPIO_DS3234_MOSI
        int "DS3234 SPI MOSI GPIO number"
        range 0 33
        default 13
        help
            GPIO number (GPIO_NUM_xx) to DS3234 SPI MOSI.

    config GPIO_DS3234_CLK
        int "DS3234 SPI CLK GPIO number"
        range 0 33
        default 14
        help
            GPIO number (GPIO_NUM_xx) to DS3234 SPI CLK.

    config GPIO_DS3234_CS
        int "DS3234 SPI CS GPIO number"
        range 0 33
        default 15
        help
            GPIO number (GPIO_NUM_xx) to DS3234 CS.

endmenu